
.counter {
  font-weight: bold; 
  color: #545149;
  display: flex;
  justify-content: flex-end;
  
  
}
.textarea{
  width: 100%;
  padding: 10px;
  font-family:'Source Sans 3', sans-serif;
  outline:none;
  border: none;
  border-bottom: 2px solid  #545149;
  background-color: #f4f1ec;
  
}


.text {
  padding-bottom: 10px; 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;

}

.tweet-button {
  background-color:#4056A1; 
  color: #FFFFFF; 
  padding: 10px 20px;
  border: none; 
  font-weight: bold; 
  border-radius: 5px; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
}

.overLimit {
  color: #ff0000; 
}

